//Home page
#app{
    .load-more{
        width: 100%;
        background: $indigo;
        padding: 15px;
        text-align: center;
        color: white;
        border-radius: 4px;
        font-weight: bold;
        cursor: pointer;
    }
    .home-slider-container{
        background: $indigo;
        .jumbotron{
            background: $indigo;
            color: $white;
            h1{
                &:before{
                }
            }
            .btn{

            }
        }
    }
    .post-title{
        font-weight: 600;
    }
    .post-header{
        height: 350px;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 30px;
    }
    .post-content{
        text-align: justify;
        margin-top: 20px;
        white-space: pre-line;
        &:first-letter {
            font-size: 35px;
            padding-right: 5px;
            line-height: 35px;
        }
    }
    .post-footer{
        border-top: 1px solid $lightgray;
        padding-top: 15px;
        margin-bottom: 30px;
    }
}


body{
    // admin
    &.admin{
        height: 100vh;
        #app{
            height: 100%;
            display: flex;
            flex-flow: column;
            .page-title{
                padding: 30px 15px 0;
            }
            .dashboard{
                display: flex;
                width: 100%;
                height: 100%;
                @include respond_to(sm-down){
                    flex-flow: column-reverse;
                }
                .sidebar{
                    padding: 30px 15px;
                    width: 35vw;
                    height: 100%;
                    @include respond_to(sm-down){
                        width: 100%;
                    }
                    ul{
                        padding-left: 15px;
                        font-size: 12px;
                    }
                    p{
                        margin-bottom: 0;
                    }
                }
                .dashboard-content{
                    padding: 30px 15px;
                    width: 80vw;
                    @include respond_to(sm-down){
                        width: 100%;
                    }
                }
            }
            footer{
                margin-top: auto;
            }
        }
    }

    // Login - Register
    &.login,
    &.register,
    &.register,
    &.passwordrequest{
        height: 100vh;
        #app {
            height: 100%;
            display: flex;
            flex-flow: column;
            .card{
                margin: 50px auto;
            }
            footer{
                margin-top: auto;
            }
        }
    }
}



